{% extends 'base.html' %}

{% block conteudo %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

<div>
    <a href="{% url 'os:pre_os' %}" class="btn btn-outline-primary mb-3">Criar Ordem de Serviço</a>
</div>
<h3>Ordens de Serviço (Em aberto)</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Nº O.S</th>
                <th scope="col">Cliente</th>
                <th scope="col">Veiculo</th>
                <th scope="col">Placa</th>
                <th scope="col">Data Entrada</th>
                <th scope="col">Data Final</th>
                <th scope="col">Fechar Ordem</th>
            </tr>
        </thead>
        {% for ordem in ordens %}
        {% if not ordem.os_concluida %}
        <tbody>
            <tr>
                <td>{{ ordem.pk }}</td>
                <td>{{ ordem.cliente }}</td>
                <td>{{ ordem.veiculo }}</td>
                <td>{{ ordem.placa_veiculo }}</td>
                <td>{{ ordem.data_inicial }}</td>
                <td>{{ ordem.data_termino }}</td>
                <td>
                    <a href="">
                        Ver <i class="fas fa-search-plus ml-2"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock %}