{% extends 'base.html' %}
{% load funcoes_uteis %}

{% block conteudo %}

{% for produto in produtos %}

<h1 class="mt-5">{{ produto.nome_produto }}</h1>
{% if produto.imagem_produto %}
<p>
    <img src="\media\{{ produto.imagem_produto }}" alt="{{produto.nome_produto}}" style="max-width: 300px; height:auto">
</p>
{% endif %}
<dl>
    <dt>ID</dt>
    <dd>{{ produto.id}}</dd>

    <dt>Preço</dt>
    <dd>{{ produto.preco_produto|formata_preco }}</dd>

    <dt>Estoque</dt>
    <dd>{{ produto.estoque }}</dd>

    <dt>Descrição</dt>
    <dd>{{ produto.descricao_produto }}</dd>

    <dt>Descrição Detalhada</dt>
    <dd>
        <p>{{ produto.decricao_detalhada_produto }}</p>
    </dd>
</dl>

<div>
    <a href="{% url 'produto:atualizar_produto' %}?id_produto_atualizar={{ produto.id }}"
        class="btn btn-outline-warning">Editar Produto</a>
</div>
{% endfor %}
{% endblock %}